* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.main_container {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 767.98px;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px 15px 0px;
}
header .logo {
  width: 197px;
  height: 36px;
  display: flex;
}

.arrow_back {
  position: absolute;
  left: 15px;
  font-size: 20px;
}

.central_section {
  background-color: #F6F6F6;
  padding-bottom: 20px;
}

.presentation_section {
  position: relative;
}

.image_restaurant {
  border: 1px solid transparent;
}
.image_restaurant img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 275px;
}

#image_dish_2on4 img {
  -webkit-clip-path: inset(12px 0 0px 0);
          clip-path: inset(12px 0 0px 0);
  margin-top: -12px;
  -o-object-position: 0% 48%;
     object-position: 0% 48%;
}

.menu_title_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}
.menu_title_block h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}

.hearts_pair {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.hearts_pair:hover .leave_it {
  opacity: 1;
  animation: fill 0.45s ease-in-out;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.empty_heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full_heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fill_it {
  position: relative;
}

.leave_it {
  position: relative;
  display: initial;
  background: linear-gradient(to top, #9747FF, #CB60ED, #FF79DA);
  background: -webkit-linear-gradient(to top, #9747FF, #CB60ED, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.full_menu {
  position: relative;
  width: 100%;
  margin-top: 205px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
}

.details_menu .dish_block {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 1.5s ease forwards;
}
.details_menu .dish_block:nth-child(1) {
  animation-delay: 0.3s;
}
.details_menu .dish_block:nth-child(2) {
  animation-delay: 1.8s;
}
.details_menu .dish_block:nth-child(3) {
  animation-delay: 2.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.dish_block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.dish_list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dish_title {
  position: relative;
  display: table;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  font-weight: 300;
  padding-bottom: 5px;
}
.dish_title:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99E2D0;
}

.dish_choice {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  vertical-align: center;
  margin-bottom: 15px;
  padding: 10px 0px 10px 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 2px 6px 2px #aaa;
  cursor: pointer;
  position: relative;
}
.dish_choice h4 {
  margin: 0;
  padding-bottom: 5px;
}
.dish_choice p {
  margin: 0;
}
.dish_choice:hover .dish_presentation {
  padding-right: 61px;
}
.dish_choice:hover .dish_selection {
  transform: translateX(-61px);
}
.dish_choice:hover .check_module {
  display: block;
}

.dish_presentation {
  width: 75%;
}
.dish_presentation h4 {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
}
.dish_presentation p {
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: 15.04px;
  font-weight: 300;
  text-overflow: ellipsis;
  transition: padding-right 0.3s;
}

.dish_selection {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 0.3s;
}

.dish_price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  white-space: nowrap;
  padding-bottom: 2px;
  padding-left: 30px;
  padding-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.check_module {
  display: none;
  margin-top: -11px;
}
.check_module i {
  height: 70px;
  padding: 15px 20px 10px 20px;
  font-size: 40px;
  border: 1px solid transparent;
  border-radius: 0px 15px 15px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #99E2D0;
  color: white;
}

.order_module {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px 0px 0px;
}
.order_module button {
  width: 186px;
  height: 50px;
  padding: 10px 10px 10px 10px;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  background-image: linear-gradient(to top, #9747FF, #CB60ED, #FF79DA);
  color: white;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
}
.order_module button:hover {
  background-color: #AE80E5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

footer {
  width: 100%;
  padding: 20px, 0px, 10px, 5px;
  background-color: #353535;
}
footer img {
  width: 139px;
  height: 27px;
  margin: 20px 0px 10px 20px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
footer a {
  color: white;
}
footer nav {
  padding: 0px 0px 10px 0px;
}
footer li {
  padding: 0px 0px 10px 0px;
}
footer i {
  margin-right: 20px;
}
footer .footer_icon_1 {
  width: 11px;
  height: 13px;
}
footer .footer_icon_2 {
  width: 11.92px;
  height: 13px;
}
@media only screen and (min-width: 1024px) {
  footer {
    padding: 30px 25px 30px 25px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer li {
    width: auto;
  }
  footer .menu_element_1on4, footer .menu_element_3on4, footer .menu_element_4on4, footer i {
    margin-right: 15px;
  }
  footer .menu_element_4on4 {
    margin-left: -20px !important;
  }
  footer .menu_element_2on4 {
    margin-right: 45px !important;
  }
}

.footer_menu {
  margin-left: -20px;
}
@media only screen and (min-width: 1024px) {
  .footer_menu {
    margin-top: 11px;
  }
}

/* START MEDIA QUERIES PHONE LANDSCAPE */
@media only screen and (min-width: 360px) and (max-width: 768px) and (orientation: landscape) {
  .dish_choice {
    width: 95%;
  }
  .dish_price {
    margin-left: 60px !important;
  }
}
/* END MEDIA QUERIES PHONE LANDSCAPE */
/*  START  TABLET MEDIA QUERIES   */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .image_restaurant img {
    max-height: 342.5px;
    -webkit-clip-path: inset(85px 1px 0px 0px);
            clip-path: inset(85px 1px 0px 0px);
    margin-top: -85px;
    -o-object-position: 0% 70%;
       object-position: 0% 70%;
  }
  #image_dish_1on4 img, #image_dish_2on4 img {
    -webkit-clip-path: inset(75px 0px 0px 0px);
            clip-path: inset(75px 0px 0px 0px);
    margin-top: -75px;
    -o-object-position: 0% 55%;
       object-position: 0% 55%;
  }
  .full_menu {
    margin-top: 225px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .dish_block {
    width: auto;
  }
  .dish_selection .dish_price {
    padding-left: 115px;
    padding-right: 10px;
  }
  .dish_presentation h4, .dish_price {
    font-size: 18px;
  }
  .dish_choice:hover .dish_presentation {
    padding-right: 60px;
  }
  .dish_choice:hover .dish_selection {
    transform: translateX(-60px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .dish_price {
    padding-left: 65px !important;
  }
  .dish_choice:hover .dish_presentation {
    padding-right: 80px !important;
  }
  .dish_choice:hover .dish_selection {
    transform: translateX(-80px) !important;
  }
}
/*  END  TABLET MEDIA QUERIES  */
/*  START  LAPTOP MEDIA QUERIES   */
@media only screen and (min-width: 1024px) {
  .main_container {
    max-width: 1440px;
  }
  .central_section {
    background-color: white;
  }
  .image_restaurant img {
    max-height: 410px;
  }
  #image_dish_1on4 img, #image_dish_2on4 img {
    -webkit-clip-path: inset(35px 0px 0px 0px);
            clip-path: inset(35px 0px 0px 0px);
    margin-top: -35px;
    -o-object-position: 0% 55%;
       object-position: 0% 55%;
  }
  #image_dish_3on4 img {
    -webkit-clip-path: inset(5px 0px 0px 0px);
            clip-path: inset(5px 0px 0px 0px);
    margin-top: -5px;
    -o-object-position: 0% 70%;
       object-position: 0% 70%;
  }
  #image_dish_4on4 img {
    -o-object-position: 0% 70%;
       object-position: 0% 70%;
  }
  .full_menu {
    width: 73%;
    margin-top: 335px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
  #menu_3on4, #menu_4on4 {
    margin-top: 360px;
  }
  .menu_title_block {
    justify-content: center;
  }
  .menu_title_block h2 {
    margin-right: 50px;
  }
  .dish_block {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  .dish_selection .dish_price {
    padding-left: 115px;
    padding-right: 10px;
  }
  .dish_presentation h4, .dish_price {
    font-size: 18px;
  }
  .dish_presentation p {
    font-size: 16px;
  }
  .check_module {
    margin-top: -11.5px;
  }
  .dish_choice:hover .dish_presentation {
    padding-right: 72px;
  }
  .dish_choice:hover .dish_selection {
    transform: translateX(-72px);
  }
  .footer_elements {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
  }
}
/*    END  LAPTOP MEDIA QUERIES   *//*# sourceMappingURL=menu_style.css.map */